bin
obj
*.user
*.suo
*.log
*.bak
*.ncrunchproject
*.ncrunchsolution
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.crunchsolution.cache
*.dotCover
desktop.ini
Thumbs.db
AnalysisUK.ExchangeRates.Web/App_Data/Log.txt
Debug/
Release/
Build/
Deploy/
_ReSharper*/